<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="reqnroll" type="Reqnroll.Configuration.ReqnrollConfigurationSection, Reqnroll"/>
	</configSections>

	<reqnroll>
		<runtime>
			<stopAtFirstError>false</stopAtFirstError>
		</runtime>
	</reqnroll>
</configuration>